.face {
  display: block;
  filter: drop-shadow(0 7px 0 var(--dc-color-border-heavy));
  pointer-events: none;
  position: relative;
  user-select: none;
}

.face img {
  object-fit: contain;
}

.small {
  height: 4rem;
  width: 4rem;
}

.medium {
  height: 7rem;
  width: 7rem;
}

.large {
  height: 10rem;
  width: 10rem;
}
